<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
    <header><a href="/">Home</a></header>
    <h1>Developers</h1>
    <ul>
        <% developers.forEach((developer) => { %>
            <ul>
                <li><a href="/developers/<%= developer.developer %>"><%= developer.developer %></a></li>
            </ul>
            
      <%  }); %>
    </ul>
    <h1>Add Developer</h1>
    <form action="/developers/create-developer" method="POST">
        <label for="developer">Genre:</label>
        <input placeholder="Developer" type="text" name="developer" id="developer">
    
        <button type="submit">Submit</button>
    </form>
</body>
</html>